@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --bg-black: #000;
  --bg-white: #fff;
  --bg-orange: #ff9b51;
  --bg-light: #f5f5f5;
  --bg-gray: #dfdfdf;
  --bg-text: #a9aaac;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  color: var(--bg-white);
}
button,
a,
input {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}
.container {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

header {
  width: 100%;
  height: 70px;
  background: var(--bg-black);
}
.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  text-decoration: none;
  font-size: 30px;
}
.logo span:first-child {
  font-weight: 700;
  color: var(--bg-white);
}
.logo span:last-child {
  font-weight: 400;
  color: var(--bg-orange);
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  position:relative;
}
nav ul li a {
  text-decoration: none;
  color: var(--bg-white);
}

/* --------------------- */

/* --------BANNER------------ */

.banner {
  width: 100%;
  background: var(--bg-black);
  position: relative;
}
.imageBanner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: brightness(0.5);
}
.imageBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerMain {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  z-index: 10;
  isolation: isolate;
}
.bannerLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bannerRight {
  display: flex;
  justify-content: end;
  align-items: center;
}

.logoBanner {
  font-size: 60px;
}
.bannerLeft > h3 {
  font-size: 35px;
  font-weight: 300;
}
.line {
  width: 70px;
  height: 2px;
  background-color: var(--bg-white);
  border-radius: 8px;
}

.btn {
  width: 135px;
  height: 45px;
  border: 2px solid var(--bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: transparent;
  color: var(--bg-white);
}

.formBanner {
  width: 360px;
  height: 360px;
  border-radius: 6px;
  background: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.formBanner > h3 {
  width: 100%;
  height: 55px;
  font-size: 22px;
  color: var(--bg-black);
  font-weight: 700;
  background: var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBanner > h3 > span {
  color: var(--bg-orange);
  padding: 0px 10px;
}
.inputForm {
  width: 100%;
  height: 250px;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
input {
  border: none;
  border-bottom: 2px solid var(--bg-light);
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  outline: none;
}
input::placeholder {
  color: var(--bg-text);
}
.btnForm {
  width: 100%;
  height: 55px;
  background: var(--bg-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--bg-white);
  border: none;
  outline: none;
  font-size: 17px;
}
/* -------------------------- */

/* -----main------- */

.mainTabs {
  width: 100%;
  background: var(--bg-light);
}

.mainTabsContent {
  width: 100%;
  padding: 100px 0px;
  color: var(--bg-black);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.tabsLeft {
  display: flex;
  gap: 80px;
}

.tabsNumber {
  display: flex;
  flex-direction: column;
}
.tabsNumber .tabs {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-white);
  background: #333333;
  cursor: pointer;
  font-weight: 600;
}
.tabsNumber span:nth-child(2) {
  border-top: 2px solid var(--bg-light);
  border-bottom: 2px solid var(--bg-light);
}

.tabsContent {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.tabsContent p {
  color: var(--bg-text);
}
.btnTabs {
  background: var(--bg-orange);
  border: none;
  border-radius: 6px;
}
.lineSub {
  background: var(--bg-orange);
}

.sublistMain {
  width: 100%;
  padding: 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.subRight {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--bg-black);
}
h3 {
  font-size: 18px;
}
.subRight p {
  color: var(--bg-text);
}

.subDesc {
  display: flex;
  gap: 30px;
}
.ionicion{
  width:60px;
}
.icon {
  width: 40px;
  height: 40px;
  border: 2px solid var(--bg-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-orange);
  border-radius: 50%;
}
.subDescItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subDescItem > p {
  color: var(--bg-text);
}

.mainSection {
  width: 100%;
  background: var(--bg-light);
}
.sectionContent {
  width: 100%;
  padding: 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.sectionLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--bg-black);
}
.sectionLine {
  background-color: var(--bg-orange);
}
.sectionLeft p {
  color: var(--bg-text);
}
.sectionRight {
  display: flex;
  justify-content: end;
}

.awesomeContent {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--bg-black);
}
h2 {
  font-size: 40px;
  font-weight: 400;
}
.awesomeContent p {
  color: var(--bg-text);
  text-align: center;
}
.iconAwesome {
  width: 70px;
  height: 70px;
  font-size: 25px;
}
.awesomeItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
}
.awesomeCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.mainStylish {
  position: relative;
  width: 100%;
}
.stylishBanner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  z-index: -1;
}
.stylishBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stylishContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 80px 0px;
}
.stylishTitle {
  color: var(--bg-white);
}
.stylishContent p {
  color: var(--bg-text);
}

.contactContent {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.contactContent p {
  color: var(--bg-text);
}
.contactForm {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.contactLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactContent h2 {
  color: var(--bg-black);
}

textarea {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  border-bottom: 2px solid var(--bg-light);
  padding: 5px 10px;
}
textarea::placeholder {
  font-size: 16px;
  color: var(--bg-text);
}
.btnContact {
  background: var(--bg-orange);
  font-weight: 500;
  border-radius: 6px;
  margin: auto;
}

/* ---------- */

footer {
  width: 100%;
  background: var(--bg-black);
}
.footerMain {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.iconSocial {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--bg-text);
  font-size: 20px;
  cursor: pointer;
}
footer p {
  font-size: 14px;
  color: var(--bg-text);
}
.tabs.active {
  background-color: var(--bg-orange);
}
#tab2, #tab3 {
  display: none;
}
#tab1 {
  display: flex;
}

.iconClose{
  font-size:25px;
  color:var(--bg-white);
  display:none;
}
.iconMenu{
  font-size:25px;
  color:var(--bg-white);
  display:none;
}

/* -----responsive------------ */

@media screen and (max-width: 1100px) {
  .container{
   padding-left:50px;
   padding-right:50px;
  }
}
@media screen and (max-width:999px) {
  .mainTabsContent, .sectionContent{
    display:flex;
    flex-direction: column-reverse;
  }
  .tabsRight, .subLeft, .sectionRight{
    width:70%;
    margin:auto;
  }
  .tabsRight img, .subLeft img, .sectionRight img{
    width:100%;
  }
  .sublistMain{
    display:flex;
    flex-direction: column;
  }
  .subRight h3, .sectionLeft h3{
    text-align: center;
  }
 .subRight p, .sectionLeft p{
    text-align: center;
  }
  .subRight > .line, .sectionLeft > .line{
    margin:auto;
  }
  .subDescItem p {
    text-align: left;
  }
}

@media screen and (max-width:768px) {
  .bannerMain{
    display:flex;
    flex-direction: column;
  }
  .bannerLeft, .logoBanner, .line, .btn{
    text-align: center;
    margin:auto;
  }
  .bannerRight{
    justify-content:center;
  }

}

@media screen and (max-width:600px) {
  .iconClose, .iconMenu{
    display:flex;
  }
  nav ul{
    
  }
}